@using DeveloperRenewal.Entity
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>程序列表</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/jconfirm/jquery-confirm.min.css">
</head>

<body>
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">

            <!--页面主要内容-->
            <main class="lyear-layout-content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-toolbar clearfix">
                                    <div class="toolbar-btn-action">
                                        <a class="btn btn-primary m-r-5" href="@Url.Action("AddApplication")"><i class="mdi mdi-plus"></i> 新增</a>
                                        <a class="btn btn-success m-r-5" href="#" onclick="enableApps()"><i class="mdi mdi-check"></i> 启用</a>
                                        <a class="btn btn-warning m-r-5" href="#" onclick="disableApps()"><i class="mdi mdi-block-helper"></i> 禁用</a>
                                        <a class="btn btn-danger" href="#" onclick="deleteApps()"><i class="mdi mdi-window-close"></i> 删除</a>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <form id="listForm" method="post">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label class="lyear-checkbox checkbox-primary">
                                                                <input type="checkbox" id="check-all"><span></span>
                                                            </label>
                                                        </th>
                                                        <th>Client Id</th>
                                                        <th>状态</th>
                                                        <th>上次执行时间</th>
                                                        <th>执行间隔</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (ApplicationEntity application in ViewBag.Applictions)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label class="lyear-checkbox checkbox-primary">
                                                                    <input type="checkbox" name="ids[]" value="@application.Id"><span></span>
                                                                </label>
                                                            </td>
                                                            <td>@application.ClientId</td>
                                                            <td>
                                                                @if (!application.AuthorizationStatus)
                                                                {
                                                                    @:未授权
                                                                }
                                                                else
                                                                {
                                                                    if (application.IsEnable)
                                                                    {
                                                                        @:已启用
                                                                    }
                                                                    else
                                                                    {
                                                                        @:未启用
                                                                    }
                                                                }
                                                            </td>
                                                            <td>@application.LastExecTime</td>
                                                            <td>@application.MinExecInterval - @application.MaxExecInterval</td>
                                                            <td>
                                                                <div class="btn-group">
                                                                    @if (application.AuthorizationStatus)
                                                                    {
                                                                        <a class="btn btn-xs btn-default" href="@Url.Action("ShowLog", new {id = application.Id})" onclick="log(@application.Id)" title="查看日志" data-toggle="tooltip"><i class="mdi mdi-library-books"></i></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="btn btn-xs btn-default" href="@Url.Action("ReAuth", new {id=application.Id})" title="重新授权" data-toggle="tooltip"><i class="mdi mdi-refresh"></i></a>
                                                                    }
                                                                    <a class="btn btn-xs btn-default" href="@Url.Action("AddApplication", new {id = application.Id})" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                                    <a class="btn btn-xs btn-default" href="#" onclick="deleteApp(@application.Id, '@application.ClientId')" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/jconfirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.search-bar .dropdown-menu a').click(function() {
                var field = $(this).data('field') || '';
                $('#search-field').val(field);
                $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
            });
        });
        $(document).ready(function() {
            var message = unescape("@ViewBag.Message".replace(/&#x/g, '%u').replace(/;/g, ''));
            if (message) {
                alert(message);
            }
        });

        function enableApps() {
            $('#listForm').attr('action', '@Url.Action("EnableApplications")').submit();
        }

        function disableApps() {
            $('#listForm').attr('action', '@Url.Action("DisableApplications")').submit();
        }

        function deleteApps() {
            $.confirm({
                title: '警告',
                content: '将批量删除所选项目，该操作不可恢复，是否确认？',
                type: 'orange',
                typeAnimated: false,
                buttons: {
                    omg: {
                        text: '确定',
                        btnClass: 'btn-orange',
                        action: function() {
                            $('#listForm').attr('action', '@Url.Action("DeleteApplications")').submit();
                        }
                    },
                    close: {
                        text: '关闭'
                    }
                }
            });

        }

        function deleteApp(id, name) {
            $.confirm({
                title: '警告',
                content: '将删除' + name + '，该操作不可恢复，是否确认？',
                type: 'orange',
                typeAnimated: false,
                buttons: {
                    omg: {
                        text: '确定',
                        btnClass: 'btn-orange',
                        action: function() {
                            window.location.href = '@Url.Action("DeleteApplication")?id=' + id;
                        }
                    },
                    close: {
                        text: '关闭'
                    }
                }
            });

        }
    </script>
</body>
</html>
